.log-viewer-header {
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1rem;
	background: var(--background);
	color: var(--foreground);
	border-bottom: 1px solid var(--border);
}

.log-viewer-header h1 {
	font-size: 1rem;
	font-weight: 600;
}

